<header class="screener-header">
  <app-overlay-components />
  <app-reset-filters />
  <app-sort-overlay />
  <button
    mat-raised-button
    (click)="openFieldSelector()"
    class="column-selector-btn">
    Column Selector
  </button>
</header>

<div class="screener-table-scroll">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Dynamic column definitions -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">

      <!-- Header -->
      <th mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>

      <!-- Cell -->
      <td mat-cell *matCellDef="let element">

        <ng-container *ngIf="isNumber(element[column.key]); else text">
          {{ element[column.key] | number:'1.2-3' }}
        </ng-container>

        <ng-template #text>
          {{ element[column.key] }}
        </ng-template>

      </td>

    </ng-container>

    <!-- Sticky header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnKeys; sticky: true"></tr>

    <!-- Data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumnKeys"></tr>

  </table>
</div>