.vscode
.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.ipynb
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.eggs/
*.egg-info/
dist/
build/
spark
logs
airflow/airflow.cfg
airflow/webserver_config.py
extracts
Buy & Hold Port Screener - Multi tasking - 10.03.23.ipynb
node_modules
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/package.json
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/chunk-YEPWIHIR.js.map
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/chunk-YEPWIHIR.js
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/chunk-5NCBJT6C.js.map
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/chunk-5NCBJT6C.js
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_router.js
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_router.js.map
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_platform-browser.js.map
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_core.js
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_core.js.map
frontend_legacy/.angular/cache/21.2.6/frontend/vite/deps/@angular_platform-browser.js
frontend_legacy/.angular/cache/21.2.6/frontend/.tsbuildinfo
# frontend/angular.json
extracts/earnings_estimate.parquet
extracts/earnings_history.parquet
extracts/info.parquet
extracts/price.parquet
extracts/earnings_estimate.parquet
extracts/earnings_history.parquet
extracts/info.parquet
extracts/price.parquet
metadata/max_drawn_down.parquet
metadata/peg_benchmark.parquet
metadata/volatility.parquet
metadata/peg.parquet
