#table{
 width: 1000%;
 background-color: aqua;
}


.mat-header-cell.Ticker{
background-color: black;
}


.Ticker{
    background-color: aqua;
}


element.avg
{
    background-color: antiquewhite;
}
.mat-colum-Ticker
{
    background-color: aqua;
}